################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CSharpAvanzado/.vs
/CSharpAvanzado/CSharpAvanzado/bin
/CSharpAvanzado/CSharpAvanzado/obj
/XamarinAndroidModule/bin
/XamarinAndroidModule/obj
